.rulesbtn {
    padding: 0 8px;
    background: #feaf00;
    border: none;
    color: white;
    position: absolute;
    top: 2%;
    right: 3%;
}
.rulestxt{

    width: 70%;
    margin: 0 auto;
    text-align: left;
    p{
       color: #002F6D;
        font-size: 120%;
    }
}