.finish{
    background-image: url("./finishimg/finish.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
}
.finish p{
    position: absolute;
    top: 24%;
    left: 17%;
    letter-spacing: 2px;
    font-size: 75px;
    color: #002f6d;
}
.finish p span{
    font-size: 100px;
    font-weight: bold;

}
.leaderstitle{
    color: #002F6D;
    text-align: center;
    font-size: 40px;

}
.share{
    text-align: center;
    text-decoration: none;
    position: absolute;
    bottom: 7%;
    right: 7%;
    width: 320px;
    height: 60px;
    font-size: 36px;
    text-transform: uppercase;
    border: 1px solid black;
    background: #feaf00;
    cursor: pointer;
    color: white;
}
.leaders{
    position: absolute;
    bottom: 17%;
    right: 7%;
    width: 320px;
    height: 60px;
    font-size: 36px;
    text-transform: uppercase;
    border: 1px solid black;
    background: #feaf00;
    cursor: pointer;
    color: white;
}
.backto{
   position: absolute;
    top: 2%;
    left: 1%;
    background: #feaf00;
    color: white;

    text-align: center;
   padding: 10px 15px;
    cursor: pointer;
    border: none;
    font-size: 20px;
    img{
        width: 30%;
        margin-left: -10px;
    }

    z-index:10;
}
.leaderstable{
    border: 2px solid #002F6D;
    width: 90%;
    margin: -15px auto;
    border-collapse: collapse;
    td,th{
        border: 2px solid #002F6D;
        color: #002F6D;
    }
    th{
        padding: 5px 0;
    }
.tiv{
    font-size: 25px;
    padding-left: 10px;
}

}


