
.chisht {
  width: 100%;

  .chishtwindow{
    margin: 0 auto;
    width: 85%;
    height: 85%;
    background:rgba(255,255,255,.9);
    box-shadow: 0 0 20px;
    z-index: 10;
    position: absolute;
    top: 10%;
    left: 7.5%;
    overflow: hidden;
  }

  .desc{
    font-size: 28px;
    width: 65%;
    margin: 10px auto;
    text-align: center;
    color: #002F6D;
  }
  .btnn{
    position: relative;

  }
  .hajord{
    background: #feaf00;
    color: white;
    font-size: 30px;
    text-align: center;
    padding:5px 0 5px 15px;
    cursor: pointer;
    position: absolute;
    right: 2%;
    bottom:4%;
    z-index:10;
    img{
    width: 35%;
      margin-left: -10px;
  }
  }
  .patil1{
    padding: 20px;
    position: absolute;
    top:-10%;
    animation:patil1 5s infinite ;

  }
  .patil2{
    padding: 20px;
    position: absolute;
    top:-10%;
    left: 20%;
    animation: patil1 8s infinite;
  }
  .patil3{
    padding: 20px;
    position: absolute;
    top:-10%;
    left: 50%;
    animation: patil1 9s infinite;
  }
  .patil4{
    padding: 20px;
    position: absolute;
    top:-10%;
    left: 80%;
    animation: patil2 7s infinite;
  }
  .patil5{
    padding: 20px;
    position: absolute;
    top:-20%;
    left: 60%;
    animation: patil2 5s infinite;
  }
  .patil6{
    padding: 20px;
    position: absolute;
    top:-20%;
    left: 45%;
    animation: patil2 8s infinite;
  }
  .patil7{
    padding: 20px;
    position: absolute;
    top:-20%;
    left: 15%;
    animation: patil2 6s infinite;
  }
  .patil8{
    padding: 20px;
    position: absolute;
    top:-20%;
    left: 90%;
    animation: patil2 9s infinite;
  }



}
@keyframes patil1 {
  0%{
    top: -10%;

  }

  100%{
    top: 110%;
    transform:rotate(360deg);
  }
}
@keyframes patil2 {
  0%{
    top: -20%;
  }

  100%{
    top: 110%;
    transform:rotate(360deg);
  }
}
.righte{
  color: #002F6D;
  text-align: center;
  margin-top: 60px !important;
  font-size: 90px;
  text-transform: uppercase;
    img {
      width: 6.5%;
      margin-left: 10px;
    }

}