body {
  margin: 0;
  padding: 0;
}
.background {
  background-image: url("./appImg/valio 1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 1920px;
  position: relative;
}
.containers {

  margin: 0 auto;
}
.background .startGame {
  position: absolute;
  bottom: 7%;
  right: 7%;
  width: 320px;
  height: 60px;
  font-size: 36px;
  text-transform: uppercase;
  border: 1px solid black;
  background: #feaf00;
  cursor: pointer;
  color: white;
}
.background .rules {
  position: absolute;
  bottom: 17%;
  right: 7%;
  width: 320px;
  height: 60px;
  font-size: 36px;
  text-transform: uppercase;
  border: 1px solid black;
  background: #feaf00;
  cursor: pointer;
  color: white;
}