@media only screen and (max-width: 1880px) {
  .background,.questionTwo,.questionTen,.questionEight,
  .questionFive,.questionFour,.questionNine,.questionSeven,.questionOnesix,.questionThree,.questionOne,.finish{
    width:1880px;
    height: 100vh;
  }

  .finish p{
    font-size: 72px;
  }
  .timerik,.pointThrough{


    font-size: 20px;
  }
  .chishtwindow{

    height: 10vh;
    top: 10%;
    left: 5.5%;

  }
  .righte{

    font-size: 85px;

  }
  .hajord{
    font-size: 29px;
  }
  .ruleModal{
    width:1880px;
    height: 920px;
  }
  .desc{
    p{
      font-size: 27px;
    }
  }
  .closemodal{
    margin-top: 80vh;
    font-size: 29px;
  }


}
@media only screen and (max-width: 1800px) {
  .background,.questionTwo,.questionTen,.questionEight,
  .questionFive,.questionFour,.questionNine,.questionSeven,.questionOnesix,.questionThree,.questionOne,.finish{
    width:1800px;
    height: 100vh;
  }
  .timerik,.pointThrough{


    font-size: 19px;
  }
  .hajord{
    font-size: 28px;
  }
  .finish p{
    font-size: 69px;
  }
  .wrongModal{
    width:1800px;
    height: 880px;
  }
  .righte{

    font-size: 80px;

  }

  .desc{
    p{
      font-size: 26px;
    }
  }
  .closemodal{
    margin-top: 77vh;
    font-size: 28px;
  }


}
@media only screen and (max-width: 1700px) {
  .background,.questionTwo,.questionTen,.questionEight,
  .questionFive,.questionFour,.questionNine,.questionSeven,.questionOnesix,.questionThree,.questionOne,.finish{
    width:1700px;
    height: 100vh;
  }
  .timerik,.pointThrough{


    font-size: 18px;
  }

  .hajord{
    font-size: 27px;
  }
  .righte{

    font-size: 75px;

  }

  .finish p{
    font-size: 66px;
  }
  .wrongModal{
    width:1700px;
    height: 840px;
  }
  .desc{
    p{
      font-size: 25px;
    }
  }
  .closemodal{
    margin-top: 74vh;
    font-size: 27px;
  }


}
@media only screen and (max-width: 1600px) {
  .background,.questionTwo,.questionTen,.questionEight,
  .questionFive,.questionFour,.questionNine,.questionSeven,.questionOnesix,.questionThree,.questionOne,.finish{
    width:1600px;
    height: 100vh;
  }
  .finish p{
    font-size: 62px;
  }
  .timerik,.pointThrough{


    font-size: 17px;
  }
  .hajord{
    font-size: 26px;
  }
  .righte{

    font-size: 70px;

  }

  .wrongModal{
    width:1600px;
    height: 800px;
  }
  .desc{
    p{
      font-size: 24px;
    }
  }
  .closemodal{
    margin-top: 71vh;
    font-size: 26px;
  }


}
@media only screen and (max-width: 1500px){
  .background,.questionTwo,.questionTen,.questionEight,
  .questionFive,.questionFour,.questionNine,.questionSeven,.questionOnesix,.questionThree,.questionOne,.finish{
    width:1500px;
    height:100vh;
    .startGame,.rules,.share,.leaders{
      width: 280px;
      height: 55px;
      font-size: 33px;
    }
    .finish p{
      font-size: 59px;
    }
    .hajord{
      font-size: 25px;
    }
    .timerik,.pointThrough{


      font-size: 16px;
    }}
  .righte{

    font-size: 65px;

  }

  .wrongModal{
    width:1500px;
    height: 789px;
  }
  .desc{
    p{
      font-size: 23px;
    }
  }
  .closemodal{
    margin-top: 68vh;
    font-size: 25px;
  }





}
@media only screen and (max-width: 1400px) {
  .background,.questionTwo,.questionTen,.questionEight,
  .questionFive,.questionFour,.questionNine,.questionSeven,.questionOnesix,.questionThree,.questionOne,.finish{
    width:1400px;
    height: 100vh;
    .startGame,.rules,.share,.leaders{
      width: 270px;
      height: 50px;
      font-size: 31px;
    }
    .backto{
      font-size: 18px ;
     padding: 10px 13px !important;
    }
    .hajord{
      font-size: 24px;
    }
    .righte{

      font-size: 60px;

    }

  }
  .finish p{
    font-size: 55px;
  }
  .wrongModal{
    width:1400px;
    height: 660px;
  }
  .desc{
    p{
      font-size: 22px;
    }
  }
  .closemodal{
    margin-top: 58vh;
    font-size: 24px;
  }
}
@media only screen and (max-width: 1300px) {
  .tiv{
    font-size: 22px !important;
  }
  .backto{
    font-size: 16px !important;
    padding: 10px 11px !important;
    img{
      width: 25% !important;
    }
  }
  .leaderstitle{
    font-size: 35px !important;
  }
  .background,.questionTwo,.questionTen,.questionEight,
  .questionFive,.questionFour,.questionNine,.questionSeven,.questionOnesix,.questionThree,.questionOne,.finish{
    width:1300px;
    height: 100vh;
    .startGame,.rules,.share,.leaders{
      width: 260px;
      height:48px;
      font-size: 30px;
    }
  }
  .finish p{
    font-size: 52px;
  }
  .wrongModal{
    width:1300px;
    height: 600px;
  }

  .hajord{
    font-size: 23px;
  }
  .desc{
    p{
      font-size: 21px;
    }
  }
  .righte{

    font-size: 55px;

  }

  .closemodal{
    margin-top: 54vh;
    font-size: 23px;
  }
}
@media only screen and (max-width: 1200px) {
  .tiv{
    font-size: 18px !important;
  }
  .leaderstitle{
    font-size: 30px !important;
  }
  .backto{
    font-size: 14px !important;
    padding: 10px!important;
  }
  .background,.questionTwo,.questionTen,.questionEight,
  .questionFive,.questionFour,.questionNine,.questionSeven,.questionOnesix,.questionThree,.questionOne,.finish{
    width:1200px;
    height: 100vh;
    .startGame,.rules,.share,.leaders{
      width: 250px;
      height: 46px;
      font-size: 28px;
    }
  }
  .finish p{
    font-size: 49px;
  }

  .hajord{
    font-size: 23px;
  }
  .wrongModal{
    width:1200px;
    height: 540px;
  }
  .desc{
    p{
      font-size: 20px;
    }
  }
  .righte{

    font-size: 50px;

  }

  .closemodal{
    margin-top: 47vh;
    font-size: 22px;
  }
}
@media only screen and (max-width: 1100px) {
  .tiv{
    font-size: 15px !important;
  }
  .backto{
    font-size: 13px !important;
    img{
      width: 23% !important;
    }
  }
  .background,.questionTwo,.questionTen,.questionEight,
  .questionFive,.questionFour,.questionNine,.questionSeven,.questionOnesix,.questionThree,.questionOne,.finish{
    width:1100px;
    height: 100vh;
    .startGame,.rules,.share,.leaders{
      width: 245px;
      height: 46px;
      font-size: 27px;
    }
  }
  .finish p{
    font-size: 46px;
  }
  .wrongModal{
    width:1100px;
    height: 490px;
  }
  .righte{

    font-size: 45px;

  }

  .hajord{
    font-size: 22px;
  }
  .desc{
    p{
      font-size: 17px;
    }
  }
  .closemodal{
    margin-top: 42vh;
    font-size: 20px;
  }
}
@media only screen and (max-width: 1000px){
  .background,.questionTwo,.questionTen,.questionEight,
  .questionFive,.questionFour,.questionNine,.questionSeven,.questionOnesix,.questionThree,.questionOne,.finish{
    width:1000px;
    height: 100vh;
    .startGame,.rules,.share,.leaders{
      width: 240px;
      height: 46px;
      font-size: 26px;
    }
  }
  .righte{

    font-size: 40px;

  }

  .hajord{
    font-size: 17px;
  }
  .finish p{
    font-size: 43px;
  }
  .wrongModal{
    width:1000px;
    height: 450px;
  }
  .desc{
    p{
      font-size: 15px;
    }
  }
  .closemodal{
    margin-top: 38vh;
    font-size: 19px;
  }
}
@media only screen and (max-width: 450px){
  .trylater{
    margin-top: 70% !important;
  }

  .pointThrough{
    top: 5%;
  }
  .rulestxt{
    margin-top: -15px !important;
    p{
      margin-top: -8px;
      font-size: 72% !important;
    }
  }
  .leaderstitle{
    font-size: 20px !important;
    margin-top: 120px !important;
  }
  .leaderstable{
    th{
      font-size: 10px !important;
    }
    .firstTR{
      padding: 0 12px;
    }
  }
  .finish{
    background-image: url("./game/gamesImg/pointik.png");
    width:100%;
    height: 100vh;
    background-size: 100% 100%;
  }
  .share,.leaders{
    width: 155px !important;
    height: 33px !important;
    font-size: 15px !important;
    right: 5% !important;


  }
  .share{
    bottom: 8%;
  }
  .leaders{
    bottom: 2.5%;
  }
  .background {
    background-image: url("./appImg/valioMobileStart.png");
    width:100%;
    height: 100vh;
    background-size: 100% 100%;
    .startGame,.rules{
      width: 155px;
      height: 33px;
      font-size: 15px;
      right: 5%;


    }

    .startGame{
      bottom: 8%;
    }
    .rules{
      bottom: 2.5%;
    }
  }

  .hajord{
    font-size: 15px !important;
    bottom: 1% !important;
    right: 5% !important;
  }
  .questionTwo{
    background-image: url("./game/gamesImg/finka.png");
    background-size: 100% 100%;
    width:100%;
    height: 100vh;
  }
  .questionFour{
    background-image: url("./game/gamesImg/Vegan.png");
    background-size: 100% 100%;
    width:100%;
    height: 100vh;
  }
  .questionFive{
    background-image: url("./game/gamesImg/prahaT.png");
    background-size: 100% 100%;
    width:100%;
    height: 100vh;
  }
  .questionOnesix{
    background-image: url("./game/gamesImg/valio2000.png");
    background-size: 100% 100%;
    width:100%;
    height: 100vh;
  }
  .questionSeven{
    background-image: url("./game/gamesImg/gini.png");
    background-size: 100% 100%;
    width:100%;
    height: 100vh;
  }
  .questionEight{
    background-image: url("./game/gamesImg/valioBlack.png");
    background-size: 100% 100%;
    width:100%;
    height: 100vh;
  }
  .questionNine{
    background-image: url("./game/gamesImg/dexin.png");
    background-size: 100% 100%;
    width:100%;
    height: 100vh;
  }
  .questionTen{
    background-image: url("./game/gamesImg/all.png");
    background-size: 100% 100%;
    width:100%;
    height: 100vh;
  }
  .questionThree{
    background-image: url("./game/gamesImg/Kievyan (1).png");
    background-size: 100% 100%;
    width:100%;
    height: 100vh;
  }
 .questionOne{
    background-image: url("./game/gamesImg/valioMobile2.png");
    background-size: 100% 100%;
    width:100%;
    height: 100vh;

  }

  .finish p{
    font-size: 30px;
    width: 90%;
    left: 10%;
    top: 35%;

    span {
      font-size: 60px;
      font-weight: 400;
    }
  }
  .pretty{
    font-size: 25px;
    margin-right: 0;
    line-height: .95;
  }
  .slk{
    padding: 4px 5px;
  }
  .answer{
    font-size: 12px !important;
    width: 80%;
    padding: 13px 29px;
    margin-left: 15px;
  }
  .q{
    span{
      font-size: 15px;
    }
  }
  .questOne{
    top:38% !important;
  }
  .questOnesix{
    top:30%;
  }
  .Squestion{
    top:20%;
    left: 29%;
  }
  .Squestion1{
    top: 25%;
    left: 29%;

  }
  .Squestion2{
    left:24%;
  }

  .timerik,.pointThrough{
    width: 30%;
    font-size: 12px;
  }
  .righte{
    font-size: 35px !important;
    margin-top: 60px !important;
    img {
      width: 12% !important;
      margin-left: 10px;
      margin-top: -10px !important;
    }

  }
  .snowflake {
    img {
      width: 30px !important;

    }
    width: 50px !important;
  }
  .desc{
    p{
      font-size: 50% !important;
    }

  }
}


@media only screen and (max-height: 485px){
  .Squestion{
    top:20% !important;
    left: 22%;
  }


  .desc{
    p{
      font-size: 12px !important;
    }

  }
  .righte{
    margin-top: 20px !important;
  }

}
@media only screen and (max-height: 850px){
  .Squestion{
    top:17% !important;

  }
  .questOne{
    top:45% !important
  }
  .pointThrough{
    top: 5%;
  }
}
@media only screen and (max-height: 600px){

  .pointThrough{
    top: 6%;
  }
}