@media only screen and (max-width: 1880px){
  .pretty{
    font-size: 55px;
    margin-right: 0;
    line-height: .95;
  }
  .slk{
    padding: 9px 10px;
  }
  .answer{
    font-size: 29px;
    width: 80%;
    padding: 13px 29px;
  }
  .q{
    span{
      font-size: 29px;
    }
  }
}
@media only screen and (max-width: 1800px){
  .pretty{
    font-size: 53px;
    margin-right: 0;
    line-height: .95;
  }
  .slk{
    padding: 8px 9px;
  }
  .answer{
    font-size: 28px ;
    width: 80%;
    padding: 12px 28px;
  }
  .q{
    span{
      font-size: 28px;
    }
  }
}
@media only screen and (max-width: 1700px){
  .pretty{
    font-size: 50px;
    margin-right: 0;
    line-height: .95;
  }
  .slk{
    padding: 7px 8px;
  }
  .answer{
    font-size: 27px ;
    width: 80%;
    padding: 11px 27px;
  }
  .q{
    span{
      font-size: 27px;
    }
  }
}
@media only screen and (max-width: 1600px){
  .pretty{
    font-size: 47px;
    margin-right: 0;
    line-height: .95;
  }
  .slk{
    padding: 6px 7px;
  }
  .answer{
    font-size: 26px ;
    width: 80%;
    padding: 10px 25px;
  }
  .q{
    span{
      font-size: 26px;
    }
  }
}
@media only screen and (max-width: 1500px){
  .pretty{
    font-size: 43px;
    margin-right: 0;
    line-height: .95;
  }
  .slk{
    padding: 5px 6px;
  }
  .answer{
    font-size: 24px !important;
    width: 80%;
    padding: 9px 22px !important;
  }
  .q{
    span{
      font-size: 25px;
    }
  }
}
@media only screen and (max-width: 1400px){
  .pretty{
    font-size: 39px;
    margin-right: 0;
    line-height: .95;
  }
  .slk{
    padding: 4px 5px;
  }
  .answer{
    font-size: 22px !important;
  }
  .q{
    span{
      font-size: 24px;
    }
  }
}
@media only screen and (max-width: 1300px){

  .answer{
    font-size: 21px !important;
  }
  .q{
    span{
      font-size: 23px;
    }
  }
}
@media only screen and (max-width: 1200px){
  .answer{
    font-size: 20px !important;
  }
  .q{
    span{
      font-size: 22px;
    }
  }
}
@media only screen and (max-width: 1100px){
  .answer{
    font-size: 19px !important;
  }
  .q{
    span{
      font-size: 21px;
    }
  }
}
@media only screen and (max-width: 1000px){
  .answer{
    font-size: 18px !important;
  }
  .q{
    span{
      font-size: 20px;
    }
  }
}
@media only screen and (max-width: 450px){
  .questOne{
    top: 40% !important;
    left: 15% !important;
    right: 15% !important;
  }
  .Squestion{
    margin-top: 5% !important;
    font-size: 15px !important;

  }
  .Squestion1{
    margin-top: 9% !important;
    font-size: 15px !important;
    margin-left: -5% !important;
    margin-right:20% !important;
  }
  .Squestion2{
    margin-top: 20% !important;
  }
}


